<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="22" android:versionName="10.0" package="com.neilapps.kchristmasv3" android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Merry Christmas, Kaisa!" android:icon="@drawable/icon"></application>
</manifest>